MediatorExample/MediatorSerialCallsExample/DepartmentFinderPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://departmentdetailsservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://departmentdetailsservice/" name="DepartmentFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://departmentdetailsservice/" schemaLocation="http://10.0.2.15:7001/WebServiceExamples-DepartmentDetailsService-context-root/DepartmentFinderPort?xsd=1"/>
</xsd:schema>
</types>
<message name="getDepartmentDetails">
<part name="parameters" element="tns:getDepartmentDetails"/>
</message>
<message name="getDepartmentDetailsResponse">
<part name="parameters" element="tns:getDepartmentDetailsResponse"/>
</message>
<message name="DepartmentFinderFault">
<part name="fault" element="tns:DepartmentFinderFault"/>
</message>
<message name="getDepartmentByMgrEmailId">
<part name="parameters" element="tns:getDepartmentByMgrEmailId"/>
</message>
<message name="getDepartmentByMgrEmailIdResponse">
<part name="parameters" element="tns:getDepartmentByMgrEmailIdResponse"/>
</message>
<message name="getDepartments">
<part name="parameters" element="tns:getDepartments"/>
</message>
<message name="getDepartmentsResponse">
<part name="parameters" element="tns:getDepartmentsResponse"/>
</message>
<portType name="DepartmentFinder">
<operation name="getDepartmentDetails">
<input message="tns:getDepartmentDetails"/>
<output message="tns:getDepartmentDetailsResponse"/>
<fault message="tns:DepartmentFinderFault" name="DepartmentFinderFault"/>
</operation>
<operation name="getDepartmentByMgrEmailId">
<input message="tns:getDepartmentByMgrEmailId"/>
<output message="tns:getDepartmentByMgrEmailIdResponse"/>
<fault message="tns:DepartmentFinderFault" name="DepartmentFinderFault"/>
</operation>
<operation name="getDepartments">
<input message="tns:getDepartments"/>
<output message="tns:getDepartmentsResponse"/>
</operation>
</portType>
<binding name="DepartmentFinderPortBinding" type="tns:DepartmentFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDepartmentDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DepartmentFinderFault">
<soap:fault name="DepartmentFinderFault" use="literal"/>
</fault>
</operation>
<operation name="getDepartmentByMgrEmailId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DepartmentFinderFault">
<soap:fault name="DepartmentFinderFault" use="literal"/>
</fault>
</operation>
<operation name="getDepartments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DepartmentFinderService">
<port name="DepartmentFinderPort" binding="tns:DepartmentFinderPortBinding">
<soap:address location="http://10.0.2.15:7001/WebServiceExamples-DepartmentDetailsService-context-root/DepartmentFinderPort"/>
</port>
</service>
</definitions>